.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 40px;
    max-width: 90vw;
    margin: 20px auto;
    position: relative;
}

.linkedin-button {
    color: #03dac5;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 6em;
}